[Unit]
Description=Mount google drive at ~/gdrive

[Service]
ExecStartPre=/usr/bin/mkdir -p "%h/gdrive"
ExecStart=/usr/bin/rclone mount gdrive: "%h/gdrive"

[Install]
WantedBy=default.target